# ================= FRONTEND =================
FrontEnd/**/node_modules/
FrontEnd/**/dist/
FrontEnd/**/.env
FrontEnd/*/.env.

# ================= BACKEND =================
BackEnd/target/
BackEnd/**/.env
BackEnd/logs/

# ================= BUILD / CACHE =================
.angular/cache
*.log

# ================= SYSTEM =================
.vscode/
.idea/
.DS_Store
Thumbs.db